<!DOCTYPE html>
<html>
    <head>
        <%- include('templates/header')%>
        
        <script src="https://code.jquery.com/jquery.min.js"></script>
        
        <h1>Admin</h1>
    </head>
    
    <body style="background-color:lightgrey;">
        <h2>
            Pins in system
        </h2>
            
        <div class="border d-flex flex-row flex-wrap">
            <%users.forEach(function(usr){%>
            <div id="wholeItem<%=usr.pin_id%>" class="border" style="max-width: 200px; padding: 5px;">
                <ul>
                    <li>
                        User Id: <%=usr.user_id%>
                    </li>
                    <li>
                        Username: <%=usr.username%>
                    </li>
                
                </ul>
                
                <ul>
                    <li>
                        Pin Id: <%=usr.pin_id%>
                    </li>
                    <li>
                        State: <%=usr.state_name%>
                    </li>
                    <li>
                        City: <%=usr.city%>
                    </li>
                    <li>
                        Is public:
    
                        <%if( usr.is_public == 1){%>
                            yes
                        <%} else{%>
                            no
                        <%}%>
                        
                    </li>
                    <li>
                        desc: <%=usr.description%>
                    </li>
                    
                </ul>
                <button onclick='tester(<%=usr.user_id%>)'>Test</button>
                <button onclick='deletePin(<%=usr.pin_id%>)'>Delete Pin</button>
            </div>
            <%});%>
        </div>
        
        
        <script SRC="javascript/powers.js"></script>
    </body>
</html>
