<!DOCTYPE html>
<html>
    <head>
        <%- include('templates/header')%>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">        
    </head>
    
    <body class="log-background">
        <!--navigation bar-->
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #222831 ">
            <div class="nav container">
                <!--left side-->
                <i class="adminLogos fas fa-map-signs"><a class="nav-brand" style="color:#D7E3FF" href="/">  Should I Go There?</a></i>
                <!--right side-->
                <li class="nav-item nav-link"><i class="adminLogos fas fa-sign-in-alt"><a class="nav-item" style="color:#D7E3FF" href="/logout">  Log Out</a></i></li>
            </div>
        </nav>
        
        <div class="circle circled mx-auto d-block">
            <div class="info">
                <h1> User </h1>
                <br>
                <h3> First Name: <%= user.first_name%> </h3>
                <h3> Last Name: <%= user.last_name%> </h3>
                <h3> Username: <%= user.username%> </h3>
            </div>
        </div>
        
        <h1>Pin Information</h1>
        <div>
            <%pinData.forEach(function(pin){%>
                <% pin_data = pin[2]%>
                <% state_data = pin[0][0] %>
                <% aq_data = pin[1].data; console.log(aq_data) %>
                <div id="wholeItem<%=pin_data.pin_id%>">
                    <ul>
                        <!--<li>-->
                        <!--    <%=pin_data.pin_id%>-->
                        <!--</li>-->
                        
                        <li>
                            <%=pin_data.city%>
                        </li>
                        <li>
                            <%=pin_data.state_name%>
                        </li>
                        <li id="description<%=pin_data.pin_id%>">
                            <%=pin_data.description%>
                        </li>
                    </ul>
                    
                    <textArea id='textArea<%=pin_data.pin_id%>' rows="3" cols="50"><%=pin_data.description%></textArea>    <!-- maybe have it hidden before a button click or something -->
                    
                    <button type="button" class="btn btn-primary" onclick="updateDesc(<%=pin_data.pin_id%>)" > Update Description </button>

                    <button type="button" class="btn btn-danger" onclick='deletePin(<%=pin_data.pin_id%>)'>Delete Pin</button>
                    
                </div>
            
            <%})%>
        </div>
        <div>
            <h2>
                Do you want to delete your account?
            </h2>
            
            <form action='/deleteUsr' method='POST'>
                
                <input name="usrId" type="hidden" value=<%=user.user_id%> >
                <input name="returnUrl" type="hidden" value="/logout" >
                <input type="submit" class="btn btn-danger" value="Delete User">
                
            </form>
            
        </div>
        <script src="javascript/powers.js"></script>
    </body>
</html>
