<html>
 <head>
    <%- include('templates/header')%>
    <title>Should I Go There? - Location Search</title>
    
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
    
 </head>
 
    <body class="error_background">
        <% if(!(airQualitySuccess == "success")) { %>
                
                <div class="container">
                    
                    <div class="row">
                        
                        <div class="col" style="padding-top:20%;">
                            
                            <center><h2 class="display-5"> The location was not found! Try again </h2> <br>
                            
                            <a href='/'><button class="search_button">Home</button></a></center>
                        
                        </div>
                        
                    </div>
                    
                </div>
                
            <% } else { %>
                <div class="jumbotron search">
                    <h1 class="text-center" id="search_sitename">
                        <%=airQualityInfo.country%>, <%=airQualityInfo.state%> (<%=covidInfo.state_ab%>)
                    </h1>
                    
                    <h1 class="text-center" id="sitename">
                        <%=airQualityInfo.city%>
                    </h1>
                </div>
                
                <div class="container">
                    <div class="row">   
                        <div class="col">
                            <div id="map" class="map"></div>
                        </div>
                    
                        <div class="col border">
                            
                            <h4 id="covidCases"><u><i>Covid Cases for <%=airQualityInfo.state%></i></u> <br>
                            
                            New Cases: <%=covidInfo.covid_count%> <br>
                            
                            New Deaths: <%=covidInfo.covid_death%> <br>
                            
                            New Hospitalized: <%=covidInfo.trajectory_hospitalize%> <br>
                            
                            Test Increase: <%=covidInfo.trajectory_test%> <br>
                            
                            </h4>
                            
                            <h4 id="covidCases"><u><i>Air Quality for <%=airQualityInfo.city%></i></u> <br>
                            
                            Coordinates: <%=airQualityInfo.location.coordinates%> <br>
                            
                            Aqius: <%=airQualityInfo.current.pollution.aqius%> <br>
                            
                            (Aqius scale: 0 is healthy air quality, 500 is hazardous air quality)
                            
                            </h4>
                        
                            <% if(loggedIn) { %>
                                <form action='/create_pin' method='POST'>
                                    <input name="userId" type="hidden" value=<%=user.user_id%> >
                                    <input name="stateName" type="hidden" value=<%=airQualityInfo.state%> >
                                    <input name="city" type='hidden' value='<%=airQualityInfo.city%>' >
                                    <label>Pin this location?</label>
                                    <input name="desc" placeholder="Ex. My Home"><input type="submit" value="Click here!">
                                </form>
                            <% }else{ %>
                                <a href='/login'><button class="search_button">Login or register to pin this location!</button></a>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
    </body>
    
    <% if(airQualitySuccess == "success") { %>
    <script type="text/javascript">
      var coords = [<%= airQualityInfo.location.coordinates %>];
      console.log(coords);
      var map = new ol.Map({
        target: 'map',
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([coords[0], coords[1]]),
          zoom: 11
        })
      });
    </script>
    <% } %>
</html>